---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="Il risultato finale" id="intro">
  <Icon slot="eyebrow" name="logomark" class="h-32" />
  <Fragment slot="lead">
    e l'unica cosa che conta da noi.
    Dai un occhiata alle recensioni.
  </Fragment>
  <div class="grid grid-cols-1 gap-2 sm:grid-cols-2">
    <a
      href="https://www.google.com/search?q=licci+dario&rlz=1C1CHZN_itIT944IT945&ei=5apmY-jwN5GBxc8PiZ2C0AY&ved=0ahUKEwio98qp1Zf7AhWRQPEDHYmOAGoQ4dUDCA8&uact=5&oq=licci+dario&gs_lcp=Cgxnd3Mtd2l6LXNlcnAQAzILCC4QrwEQxwEQgAQyBggAEBYQHjICCCY6CggAEEcQ1gQQsAM6BwgAELADEEM6DQgAEOQCENYEELADGAE6DAguEMgDELADEEMYAjoVCC4QxwEQ0QMQ1AIQyAMQsAMQQxgCOg8ILhDUAhDIAxCwAxBDGAI6BAguEEM6BQgAEIAEOgsILhCABBDHARCvAToECAAQQzoHCAAQgAQQCjoICAAQFhAeEAo6CAgAEBYQHhAPSgQIQRgASgQIRhgBUIUCWMISYO4VaAFwAHgAgAF4iAGYBJIBAzUuMZgBAKABAcgBEsABAdoBBggBEAEYCdoBBggCEAEYCA&sclient=gws-wiz-serp#lrd=0x47868ff8e9553e8b:0xe6a0c0eb538e62a,1,,,"
      class="flex items-center justify-center gap-3 px-6 py-4 border-2 border-current"
    >
      <Icon pack="mdi" name="telescope" class="h-8" />
      <span>Leggi le recensioni</span>
    </a>
    <a
      href="https://astro.new/"
      class="flex items-center justify-center gap-3 px-6 py-4 border-2 border-current"
    >
      <Icon pack="mdi" name="rocket" class="h-8" />
      <span>Mettici alla prova</span>
    </a>
  </div>
</ContentSection>
